# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Environment files
.env*

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Monarch related
.monarch/

# Android specific
**/android/**/google-services.json
**/android/key.properties
**/android/**/*.keystore
**/android/**/*.jks
**/android/app/debug.keystore
**/android/app/release.keystore

# iOS specific
**/ios/Runner/GoogleService-Info.plist
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/.last_build_id
**/ios/*.mode1v3
**/ios/*.mode2v3
**/ios/*.moved-aside
**/ios/*.pbxuser
**/ios/*.perspectivev3
**/ios/**/*sync/
**/ios/.sconsign.dblite
**/ios/Flutter/flutter_export_environment.sh
**/ios/**/xcuserdata/
**/ios/Podfile.lock
**/ios/Runner.xcworkspace/xcshareddata/
**/ios/*.xcworkspace/xcuserdata/
**/ios/Runner.xcodeproj/xcuserdata/

# Certificates & provisioning profiles
**/ios/*.cer
**/ios/*.certSigningRequest
**/ios/*.p12
**/ios/*.mobileprovision
**/ios/*.provisionprofile
**/ios/build/
**/ios/.generated/


# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
linked_*.ds
unlinked.ds
unlinked_spec.ds

# Android
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/android/**/*.keystore
**/android/**/*.jks

# Android Google Services
**/android/**/google-services.json

# iOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# iOS Google Services and Config
**/ios/**/GoogleService-Info.plist
**/ios/Config.xcconfig
**/ios/Runner/Info.plist

# iOS Signing
**/ios/*.cer
**/ios/*.certSigningRequest
**/ios/*.p12
**/ios/*.mobileprovision
**/ios/*.provisionprofile

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral

# VS Code
.vscode/

# Android Studio and IntelliJ
**/*.iml
**/.idea/
**/.vscode/
**/jsons/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Exceptions to above rules.
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
!**/ios/Runner/Info.plist.example
!**/ios/Config.xcconfig.example